@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Landing Page</h1>
    <p>This page needs to explain to the user what the site is and what it does</p>
</div>
